# Functions

In [1]:
pow(2,10)

1024

In [2]:
sum([10,20,30])

60

In [3]:
def func_name(arg1,arg2,arg3):
    func_logic

In [4]:
def func1():
    print("Hello, this is first python function.")

In [5]:
func1()

Hello, this is first python function.

In [9]:
def table(num):
    for i in range(1,11):
        print(f"{num} * {i} = {num * i}")

In [10]:
table(14)
table(15)

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

## Type-1 no agrs & no return type

In [12]:
def func2():
    var1 = int(input("Enter the value of var1:"))
    var2 = int(input("Enter the value of var2:"))
    
    var3 = pow(var1,var2)
    print("Exp:",var3)

In [13]:
func2()

Enter the value of var1: 3
Enter the value of var2: 6

Exp: 729

## Type-2 With Args & No retrun type

In [14]:
def func3(var1, var2):
    var3 = var1/var2
    print("Division:",var3)

In [15]:
func3(22,7)

Division: 3.142857142857143

## Type-3 No Args & with retrun type

In [16]:
def func4():
    var1 = int(input("Var1:"))
    var2 = int(input("Var2:"))
    
    var3 = var1 * var2
    return var3

In [17]:
print("Multiply:", func4())

Var1: 12
Var2: 5

Multiply: 60

In [18]:
var4 = func4()
print("Multiply:", var4)

Var1: 12
Var2: 9

Multiply: 108

## Type-4 with Args & with retrun type

In [19]:
def func5(var1,var2):
    var3 = var1 + var2
    return var3

In [20]:
print("Add:",func5(45,66))

Add: 111

In [21]:
import test

In [22]:
test.table(10)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [23]:
test.func1()

Hello, this is first python function.

In [24]:
import test as t

In [25]:
t.func2()

Enter the value of var1: 2
Enter the value of var2: 3

Exp: 8

In [26]:
t.table(19)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [30]:
from test import table, func3

In [31]:
table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
func3(78,9)

Division: 8.666666666666666

In [33]:
from test import *

In [34]:
table(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [35]:
x = lambda a : a + 10

In [36]:
print(x(5))

15

In [37]:
x = lambda var1, var2 : var1 *var2

In [38]:
x(13,4)

52

# List

In [39]:
print(list(range(0,20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
l1 = list(range(20,0,-1))
print(l1)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
name = ["Ayush","Aamod", "Himanshu", "Pranay"]
print(name)

['Ayush', 'Aamod', 'Himanshu', 'Pranay']

In [43]:
mix = ["Vishwajeet", "Pranay", "AI", True, False, 3.141, 0.88, 13,14,88]

print(mix)

['Vishwajeet', 'Pranay', 'AI', True, False, 3.141, 0.88, 13, 14, 88]

In [44]:
mix[0]

'Vishwajeet'

In [45]:
mix[-1]

88

In [46]:
mix[-2]

14

In [47]:
mix

['Vishwajeet', 'Pranay', 'AI', True, False, 3.141, 0.88, 13, 14, 88]

In [48]:
mix[1:]

['Pranay', 'AI', True, False, 3.141, 0.88, 13, 14, 88]

In [49]:
mix[1:6]

['Pranay', 'AI', True, False, 3.141]

In [50]:
mix[1:-1]

['Pranay', 'AI', True, False, 3.141, 0.88, 13, 14]

In [51]:
mix[:]

['Vishwajeet', 'Pranay', 'AI', True, False, 3.141, 0.88, 13, 14, 88]

In [52]:
mix[1:-2]

['Pranay', 'AI', True, False, 3.141, 0.88, 13]

In [53]:
l1 = [[10,20,30,40],["Vishwajeet","Amit","Pranay","Himanshu"],[True,False,False,True]]
print(l1)

[[10, 20, 30, 40], ['Vishwajeet', 'Amit', 'Pranay', 'Himanshu'], [True, False, False, True]]

In [54]:
len(l1)

3

In [55]:
l1

[[10, 20, 30, 40],
 ['Vishwajeet', 'Amit', 'Pranay', 'Himanshu'],
 [True, False, False, True]]

In [56]:
l1[-1]

[True, False, False, True]

In [57]:
l1[0]

[10, 20, 30, 40]

In [62]:
l1[-1][len(l1[-1])-1]

True

In [63]:
l2 = [10,20,30,40,50,60,70,80,90]

In [64]:
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [65]:
len(l2)

9

In [66]:
min(l2)

10

In [67]:
max(l2)

90

In [68]:
sum(l2)

450

In [69]:
sum(l2)/len(l2)

50.0

In [70]:
del l2[0]

In [71]:
l2

[20, 30, 40, 50, 60, 70, 80, 90]

In [72]:
del l2[-2]

In [73]:
l2

[20, 30, 40, 50, 60, 70, 90]